<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row text-center pb-4">
                <div class="col-md-12">
                    <h2 class="text-white siyah-cerceve">Fly With Us!!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card acik-renk-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="iller" class="form-control" >
                                            <option selected>Round trip</option>
                                            <option>One-way</option>
                                            <option>Multi-city/option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="ilceler" class="form-control" >
                                            <option selected>1Passanger</option>
                                            <option>Adults</option>
                                            <option>Children</option>
                                            <option>Infants (on seat)</option>
                                            <option>Infants (on lap)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="arac-turu" class="form-control" >
                                            <option selected>Economy</option>
                                            <option>Premium Economy</option>
                                            <option>Business</option>
                                            <option>First Class</option>
                                         
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <p class="font-weight-light text-dark">Search Destination From OR Tambo</p>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="Capetown, Durban, Wonderboom, East London">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning  pl-5 pr-5">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <hr>

    <div class="container-gallery">
			<div class="popup popup-1">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/723240/pexels-photo-723240.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-2">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/1309644/pexels-photo-1309644.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-3">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/2026324/pexels-photo-2026324.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-5">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/2064123/pexels-photo-2064123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-4">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/240524/pexels-photo-240524.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
		</div>

		<br><br>
	<hr>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Economy</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R1,169 - R3,399 <small class="text-muted">/ per</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
           <p>Generally speaking, in economy class you’ll get a seat that takes you from point A to point B. There are some differences however, the most noticeable of which 
               are seat width and pitch (legroom). Pitch can vary from 28-34 in and width from 17-33 in. While these few inches might not seem like much now, when you’re in 
               that seat for 6+ hours – they matter! Other factors that may vary are power outlets, Wi-Fi, food, in-flight entertainment, type of TV screen and level of service.
            </p>
          </ul>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
              Book A Flight
          </button>
          
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Business</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R4,829 - R6,069 <small class="text-muted">/ per</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
                <p>Simply put: everything is better. From pre-flight drinks in real glasses, to meals served on real china with proper knives and forks, you’re spoilt rotten. 
                    Full flat-bed seats are the general standard for business class, with seat width going as wide as 34 in and pitch all the way to 87 in.
                    <br><br><br><br><br><br><br>
                 </p>
               </ul>
          <button  type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
                Book A Flight
          </button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">First Class</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R7,309 - R10,739 <small class="text-muted">/ per</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
                <p>The pinnacle of air travel, first class is reserved for celebrities and the super-rich (or the super-lucky). Think all the perks from business, lathered with 
                    a thick layer of luxury. Aside from privacy and seat size (bear in mind that many first class flights don’t so much have seats, as individual suites),  
                    noticeable difference is price, with seats costing up to five times as much as business class seats. 
                    <br><br><br><br>
                </p>
               </ul>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
                Book A Flight
          </button>
        </div>
      </div>
    </div>

    <!--model form-->
    <!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Traveler</h1>
            </div>
            <div class="modal-body">
                
                    <div class="form-group">
                        <label for="title">Title</label>
                        <select class="form-control" [(ngModel)]="title" id="title">
                            <option>Dr.</option>
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Ms.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">First & Middle Name*</label>
                        <div>
                            <input type="text" [(ngModel)]="fName" class="form-control input-lg" name="" placeholder="(Given Name) as in ID/Passport" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label">Last Name*</label>
                            <div>
                                <input type="text" [(ngModel)]="lName" class="form-control input-lg" name="" placeholder="(Family Name) as in ID/Passport" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label">Date of Birth*</label>
                                <div>
                                    <input type="date" [(ngModel)]="dateOfBirth" class="form-control input-lg" name="" placeholder="" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="title">Gender*</label>
                                    <select class="form-control" [(ngModel)]="gender" id="title">
                                        <option>select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>                            
                                    </select>
                                </div>
                                <div class="modal-header">
                                        <h1 class="modal-title">Information of Booker</h1>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label">E-Mail*</label>
                                            <div>
                                                <input type="email" [(ngModel)]="eMail" class="form-control input-lg" name="" placeholder="email address" required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label">Re-Enter E-Mail</label>
                                                <div>
                                                    <input type="email" class="form-control input-lg" name="" placeholder="email address" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="control-label">Home Phone*</label>
                                                    <div>
                                                        <input type="text" [(ngModel)]="homeNo" class="form-control input-lg" name="" placeholder="enter phone number" required="required">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                        <label class="control-label">Mobile Phone*</label>
                                                        <div>
                                                            <input type="text" [(ngModel)]="mobileNo" class="form-control input-lg" name="" placeholder="enter mobile number" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="modal-header">
                                                            <h1 class="modal-title">Emegency Contact</h1>
                                                        </div>
                                                        <div class="form-group">
                                                                <label class="control-label">Name*</label>
                                                                <div>
                                                                    <input type="text" [(ngModel)]="eContactName" class="form-control input-lg" name="" placeholder="Emegency Contact Name" required="required">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="control-label">Mobile Phone*</label>
                                                                    <div>
                                                                        <input type="text" [(ngModel)]="ePhoneNo" class="form-control input-lg" name="" placeholder="EmegencyContact Number" required="required">
                                                                    </div>
                                                                </div>
                                                                
                   
                    <div class="form-group">
                        <div>

                            <button class="btn btn-success" (click)="onContinue()">
                                Continue
                            </button>
                        </div>
                    </div>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<hr>

