<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
		<div class="container py-5 my-5">
			<div class="row text-center pb-4">
				<div class="col-md-12">
					<h2 class="text-white siyah-cerceve">Book and Fly Safe With Us</h2>
				</div>
			</div>
	
		</div>
	</section>
	<br><br>
	<hr>
<!--
	<div class="container-gallery">
			<div class="popup popup-1">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-2">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/113585/pexels-photo-113585.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-3">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/8394/flight-sky-clouds-fly.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-4">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/38574/landscape-aircraft-clouds-storm-38574.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
			<div class="popup popup-5">
				<img class="img-fluid" alt="Pop Up Gallety" src="https://images.pexels.com/photos/2120659/pexels-photo-2120659.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
			</div>
		</div>

		<br><br>
	<hr>
	-->

	<section>
		<div class="container">
			<div class="row">
	
				<!--Profile Card 5-->
				<div class="col-md-4 mt-4">
					<div class="card profile-card-5">
						<div class="card-img-block">
							<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/HKT/510x340.jpg" alt="Card image cap">
						</div>
						<div class="card-body pt-0">
						<h5 class="card-title">Thailand</h5>
						<p class="card-text"><strong>Phuket</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 6,499*</strong></p>
					  </div>
					</div>
				</div>

	<!--Profile Card 5-->
	<div class="col-md-4 mt-4">
		<div class="card profile-card-5">
			<div class="card-img-block">
				<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/FCO/510x340.jpg" alt="Card image cap">
			</div>
			<div class="card-body pt-0">
			<h5 class="card-title">ITALY</h5>
			<p class="card-text"><strong>Rome</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 7,599*</strong></p>
		  </div>
		</div>
	</div>

			<!--Profile Card 5-->
			<div class="col-md-4 mt-4">
				<div class="card profile-card-5">
					<div class="card-img-block">
						<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/BLQ/510x340.jpg" alt="Card image cap">
					</div>
					<div class="card-body pt-0">
					<h5 class="card-title">ITALY</h5>
					<p class="card-text"><strong>Milan</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 7,499*</strong></p>
				  </div>
				</div>
			</div>
	<!--Profile Card 5-->
	<div class="col-md-4 mt-4">
		<div class="card profile-card-5">
			<div class="card-img-block">
				<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/VCE/510x340.jpg" alt="Card image cap">
			</div>
			<div class="card-body pt-0">
			<h5 class="card-title">SPAIN</h5>
			<p class="card-text"><strong>Barcelona</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 8,499*</strong></p>
		  </div>
		</div>
	</div>

	<!--Profile Card 5-->
	<div class="col-md-4 mt-4">
		<div class="card profile-card-5">
			<div class="card-img-block">
				<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/DPS/510x340.jpg" alt="Card image cap">
			</div>
			<div class="card-body pt-0">
			<h5 class="card-title">ENGLAND</h5>
			<p class="card-text"><strong>London</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 9,499*</strong></p>
		  </div>
		</div>
	</div>

				<!--Profile Card 5-->
				<div class="col-md-4 mt-4">
					<div class="card profile-card-5">
						<div class="card-img-block">
							<img class="card-img-top" src="https://cdn.ek.aero/shared/images/destination/v1/airports/BLQ/510x340.jpg" alt="Card image cap">
						</div>
						<div class="card-body pt-0">
						<h5 class="card-title">FRANCE</h5>
						<p class="card-text"><strong>Paris</strong><br> Book Economy Class Return until 24 Jun 19 <br><strong>from ZAR 11,499*</strong></p>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	<hr>
	</section>
	